<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}Titre de la page{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'avion/style.css' %}">
</head>
<body>

    <!-- En-tête général du site -->
    <header class="site-header">
        <div class="header-title">
            <h1 class="titre-site">Gestion du Traffic aérien</h1>
        </div>
        <div class="header-nav">
            {% block navbar %}{% endblock %}
        </div>
    </header>

    <!-- Contenu principal -->
    <main style="max-width: 800px; margin: auto; padding: 2rem; margin-top: 140px;">
        {% block content %}{% endblock %}
    </main>

    <!-- Pied de page -->
    <footer style="text-align: center; margin-top: 3rem; font-size: 0.9em; color: #777;">
        <p>&copy; 2025 - Application Gestionniaire Traffic Aérien</p>
    </footer>

</body>
</html>