{% extends 'base.html' %}
{% block title %}Liste des vols{% endblock %}
{% block content %}
<h1>Liste des vols</h1>
<a class="btn" href="{% url 'avion:ajoutVols' %}">Ajouter un vol</a>
<table>
  <thead>
    <tr>
      <th>Avion</th>
      <th>Pilote</th>
      <th>Départ</th>
      <th>Arrivée</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for flight in object_list %}
    <tr>
      <td>{{ flight.avions.nom }}</td>
      <td>{{ flight.pilote }}</td>
      <td>
        {{ flight.aeroports_dep.nom }}<br>
        {{ flight.h_dep }}
      </td>
      <td>
        {{ flight.aeroports_arr.nom }}<br>
        {{ flight.h_arr }}
      </td>
      <td>
        <a href="{% url 'avion:updateVols' flight.pk %}">✏️</a>
        <a href="{% url 'avion:deleteVols' flight.pk %}">🗑️</a>
      </td>
      <td>
        <a href="{% url 'avion:fiche_vol' flight.id %}" class="btn btn-sm btn-secondary">📄 Télécharger</a>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="5">Aucun vol.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
