{% extends "base.html" %}

{% block title %}Détails de la Région{% endblock %}
{% block navbar %}
<nav>
    <a href="{% url 'ajoutPistes' %}">Ajouter une nouvelle piste</a>
    <a href="{% url 'ajoutVols' %}">Ajouter un nouveau vol</a>
</nav>
{% endblock %}
{% block content %}
<div class="aeroports-container">
    <h1>{{ Aeroports.nom }}</h1>

{% endif %}

    <ul class="aeroports-details">
        <li><strong>Nom :</strong> {{ Aeroports.nom }}</li>
        <li><strong>Pays d'appartenance :</strong> {{ Aeroports.pays }}</li>
    </ul>

    <div class="action-links">
        <a href="{% url 'updateAeroports' Aeroports.id %}">Modifier l'Aéroports</a>
        <a href="{% url 'deleteAeroports' Aeroports.id %}">Supprimer l'Aéroports</a>
        <a href="/">Retour</a>
    </div>
</div>

<h2 style="text-align:center; margin-top: 3rem;">Pistes associés</h2>
<div class="card-container">
    {% for Pistes in Pistes %}
        <div class="card">
            <a href="{% url 'affichePistes' Pistes.id %}">{{ Pistes.num }}</a>
        </div>
    {% empty %}
        <p>Aucune Piste associé.</p>
    {% endfor %}
</div>

<h2 style="text-align:center; margin-top: 3rem;">Vols associés</h2>
<div class="card-container">
    {% for Vols in Vols %}
        <div class="card">
            <a href="{% url 'afficheVols' Vols.id %}">{{ Vols.id }}</a>
        </div>
    {% empty %}
        <p>Aucun Vol associé.</p>
    {% endfor %}
</div>
{% endblock %}